<p>Clase Planet-details</p>
<ul>
  <li>
    {{ (planetasDetails$ | async)?.name }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.rotation_period }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.orbital_period }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.diameter }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.climate }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.gravity }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.terrain }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.surface_water }}
  </li>
  <li>
    {{ (planetasDetails$ | async)?.population }}
  </li>
</ul>
