<!--<h1>{{ title }}</h1>
Nombre: <input type="text" [(ngModel)]="nombre" />
<br />
Apellidos: <input type="text" [(ngModel)]="apellidos" />
<br />
<button (click)="mostrar()">Añadir</button>
<p style="background-color: purple" *ngIf="alta; else sinAlta">{{ texto }}</p>

<ng-template #sinAlta>
  <p>Ninguna Alta</p>
</ng-template>

<div *ngFor="let persona of personas">
  Nombre: {{ persona.nombre }}
  <br />
  Apellidos: {{ persona.apellidos }}
  <br />
</div>
<br /><br />
-->
<app-articulo></app-articulo>
